.flex.min-h-full.flex-col.justify-center.px-6.py-12.lg:px-8
  .sm:mx-auto.sm:w-full.sm:max-w-sm
    %h2.mt-10.text-center.text-2xl.font-bold.leading-9.tracking-tight.text-gray-900 #{t('activerecord.models.admin')}#{t('devise.sessions.new.sign_in')}
  .mt-10.sm:mx-auto.sm:w-full.sm:max-w-sm
    = form_with model: @admin, url: admin_session_path, id: 'new_admin', class: 'space-y-6', local: true do |f|
      .field
        = f.label :email, class: 'block text-sm font-semibold leading-6 text-gray-900'
        .mt-2
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'
      .field
        = f.label :password, class: 'block text-sm font-semibold leading-6 text-gray-900'
        .mt-2
          = f.password_field :password, autocomplete: 'current-password', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'

      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me, class: 'rounded-sm'
          = f.label :remember_me, class: 'text-sm font-medium leading-6 text-gray-900'

      .actions
        = f.submit t('devise.sessions.new.sign_in'), class: 'flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'

  = render 'admins/shared/links'
